@charset "UTF-8";
.start_content{
  .start_header{
    height: 3.2rem;
    line-height: 3.2rem;
    background: #000;
    color: #fff;
    width: 10rem;
    margin: 5rem auto 0rem auto;
    border-radius: .5rem;
    img{
      height: 2.2rem;
      line-height: 2.2rem;
      position: relative;
      top:.5rem;
      margin-left: 1rem
    }
  }
  .notice{
    text-align: center;
    color: red;
    margin: 1rem 0rem;
  }
  .user_list{
    display: flex;
    flex-direction: row;
    margin: 1rem .5rem;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: space-between;
    background: #f7f7f7;
    li {
      width: 25%;
      padding: .5rem;
      box-sizing: border-box; // 盒子的宽度=盒子本身的宽度  默认 盒子的宽度=盒子的宽度+padding+margin
      span{
        border: 1px solid #ccc;
        border-radius: .5rem;
        display: block;
        height: 3.2rem;
        width: 100%;
        text-align: center;
        line-height: 3.2rem;
        background: #fff;
      }
    }
  }
  .start{
    position: fixed;
    margin-left: -3rem;
    border-radius: 50%;
    bottom: 5rem;
    left: 50%;
    width: 6rem;
    height: 6rem;
    background: red;
    span{
      display: block;
      width: 3rem;
      margin: 0 auto;
      position: relative;
      top:1.4rem;
    }
  }
}